<!DOCTYPE html>
<html>
<head>
  <title>Endeavor: Share Your Story</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>  
  <div class="navbar navbar-default navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
        <div id="logo" class="navbar-brand"><strong><%= link_to "ENDEAVOR", links_path %></strong></div>
        <form class="navbar-form pull-left" role="search">
            <div class="input-group" id="search-box">
               <input type="text" class="form-control" placeholder="Search">
               <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
               </div>
            </div>
            <button type="submit" class="btn btn-primary">Explore</button>
         </form>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">





        <li><%= link_to 'Share Endeavor', new_link_path %></li>
        <li><%= link_to 'Account', edit_user_registration_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
        
        
      </div>
      
        </ul>
      </div>
    </div>
</div>


<div id="main_container">
<div id="background"></div>
<div class = "flash">
<div id="main_content" class="container">
<div class='alert'>
</div>
<div class = "body">
<div id="content" class="col-md-8 center-block">
<%= yield %>

</div>

</div>
</div>
</div>

</body>

  
         



</html>
