<!DOCTYPE html>
<html>
<head>
  <title>Endeavor: Share Your Story</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>  
  <div class="navbar navbar-default navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
        <div id="logo" class="navbar-brand"><strong><%= link_to "ENDEAVOR", root_path %></strong></div>
        <form class="navbar-form pull-left" role="search">
            <div class="input-group" id="search-box">
               <input type="text" class="form-control" placeholder="Search">
               <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
               </div>
            </div>
            <button type="submit" class="btn btn-primary">Explore</button>
         </form>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? -%>
        <li><%= link_to 'Share Endeavor', new_link_path %></li>
        <li><%= link_to 'Account', edit_user_registration_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
        <% else -%>
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">Sign in</button>
        </form>
    </div>
      <% end -%>
        </ul>
      </div>
    </div>
</div>

  
      <div class="jumbotron" id="background-image: url(image1.jpg)">
        <div class="container">
			     <div class="row" id="jumborow">
			     <div class="col-md-9">
				    <h1 class="text-center">Succeed, Together.</h1>
				    <h3 class="text-center" class="market">Share Your Journey With Endeavor.</h3>
			  </div>
		  <div class="col-md-3">
		  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>
		    <div class="form-group">
		      <%= f.text_field :name, :placeholder => "Username", autofocus: true, class: "form-control", required: true %>
		    </div>

		    <div class="form-group">
		      <%= f.email_field :email, :placeholder => "Email",autofocus: true, class: "form-control", required: true %>
		    </div>

		    <div class="form-group">
		      <%= f.password_field :password,:placeholder => "Password", class: "form-control", required: true %>
		    </div>

		    <div class="form-group">
		      <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation",class: "form-control", required: true %>
		    </div>
		    <div class="form-group">
          <p align="center" id="submitbutton">
		      <%= f.submit "Sign up for Endeavor", class: "btn btn-lg btn-block btn-success" %>
          </p>
		    </div>
		<% end %>
	</div>
		</div>
    </div>
</div>
  <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <i class="glyphicon glyphicon-bullhorn"></i>
          <h2 class="text-center">Broadcast</h2>  
          <p class="text-center">Tell the world what drives you, and share each step of your most monumental accomplishments.</p>
        </div>
        <div class="col-md-4">
          <i class="glyphicon glyphicon-globe"></i>
          <h2 class="text-center">Connect</h2>
          <p class="text-center">Connect with others who share similar goals, and grow together as you tackle your greateset Endeavors. </p>  
       </div>
        <div class="col-md-4">
          <i class="glyphicon glyphicon-road"></i>
          <h2 class="text-center">Explore</h2>
          <p class="text-center"> Explore new challenges that ignite the fire within you, and follow pathways created by other members.</p>
        </div>
      </div>

</div> 

     
      
      <footer class="footer"> 
      <div class="container">
        <div class="footer-text"><p class="text-center text-muted">&copy; EndeavorInc 2015 - Alpha.</p></div>
      </div>
    </footer>
    
      
<!-- /container -->

