<!DOCTYPE html>
<html>
<head>
  <title>Endeavor: Share Your Story</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>  
  <div class="navbar navbar-default navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
        <div id="logo" class="navbar-brand"><strong><%= link_to "ENDEAVOR", root_path %></strong></div>
        
      </div>
      <div class="navbar-collapse collapse">
        <% if user_signed_in? -%>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Share Endeavor', new_link_path %></li>
              <li><%= link_to 'Account', edit_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
            <% else -%>
        <ul class="nav navbar-nav navbar-right">
      <%= form_for(:user, :url => session_path(:user), html: { class: "navbar-form navbar-right form-inline" }) do |f| %>
        <div class="form-group">
          <%= f.text_field :email, :placeholder => "Email", class: "form-control" %> 
        </div>
        <div class="form-group">
          <%= f.password_field :password, :placeholder => "Password", class: "form-control"  %>
        </div>
        <%= f.submit 'Login', class: "btn btn-success" %>
    <% end %>
     <% end -%>


      
      </div>
        </ul>
      </div>
    </div>
</div>

  
      <div class="jumbotron">
        <div class="container">
			     <div class="row" id="jumborow">
			     <div class="col-md-8">
				    <h1 class="text-center">Succeed, Together.</h1>
				    <h3 class="text-center" class="market">Share Your Journey With Endeavor.</h3>
			  </div>
		  <div class="col-md-3 col-offset-md-1 hidden-sm hidden-xs">
		  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>
		    <div class="form-group">
		      <%= f.text_field :name, :placeholder => "Username", autofocus: true, class: "form-control", required: true %>
		    </div>

		    <div class="form-group">
		      <%= f.email_field :email, :placeholder => "Email",autofocus: true, class: "form-control", required: true %>
		    </div>

		    <div class="form-group">
		      <%= f.password_field :password,:placeholder => "Password", class: "form-control", required: true %>
		    </div>

		    <div class="form-group">
		      <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation",class: "form-control", required: true %>
		    </div>
		    <div class="form-group">
          <p align="center" id="submitbutton">
		      <%= f.submit "Sign up for Endeavor", class: "btn btn-lg btn-block btn-primary" %>
          </p>
		    </div>
		<% end %>
	</div>
    <p>""</p>
    <%= link_to '<button type="button" class = "hidden-md hidden-lg btn btn-lg btn-primary center-block" id="mobile-signbutton">Sign Up Today!</button>'.html_safe, new_user_registration_path %>
		</div>
    </div>
</div>
  <div class="container">
      <!-- Example row of columns -->
      <div class="row" id="market-features">
        <div class="col-md-4">
          <i class="glyphicon glyphicon-bullhorn"></i>
          <h2 class="text-center">Broadcast</h2>  
          <p class="text-center">Tell the world what drives you, and share each step of your most monumental accomplishments.</p>
        </div>
        <div class="col-md-4">
          <i class="glyphicon glyphicon-globe"></i>
          <h2 class="text-center">Connect</h2>
          <p class="text-center">Connect with others who share similar goals, and grow together as you tackle your greatest Endeavors. </p>  
       </div>
        <div class="col-md-4">
          <i class="glyphicon glyphicon-road"></i>
          <h2 class="text-center">Explore</h2>
          <p class="text-center"> Explore new challenges that ignite the fire within, and follow pathways created by other members.</p>
        </div>
      </div>
</div> 


<footer class="footer"> 
      <div class="container">
        <div class="row">
        <div class="footer-text">
        <div class="col-md-12 text-muted text-center">&copy;  2015 EndeavorLife, Inc.</muted></div>
     
        </div>
        <div>
      </div>
    </footer>

     
      

      
<!-- /container -->

